#opiates img {
    max-width: 940px;
}

.clear {
    clear: both;
}

#forkme {
    float: left;
}
    #forkme img {
        position: absolute;
        top: 0;
        left: 0;
        border: 0;
    }
